img.small-rotate {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
img.small-rotate:hover {
    -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
    transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
}

